APPWebService/Web References/ws_reniec_sede/identificacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Version">
        <s:complexType />
      </s:element>
      <s:element name="VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechaLong">
        <s:complexType />
      </s:element>
      <s:element name="FechaLongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaLongResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitud">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:EscribirCola" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EscribirCola">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoConsulta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaNumeroDNI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaPrimerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaSegundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsultaPreNombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeySistema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaveSistema" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IDModulo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SolicitudResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SolicitudResult" type="tns:DTO_ResultOfRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTO_ResultOfRespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="tns:Respuesta" />
          <s:element minOccurs="1" maxOccurs="1" name="Error_Cod" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Error_Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDSolicitud" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IDCola" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="Solicitud_LeerDNI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:LeerCola" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LeerCola">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDSolicitud" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IDCola" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IDModulo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Solicitud_LeerDNIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitud_LeerDNIResult" type="tns:DTO_ResultOfNumeroDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTO_ResultOfNumeroDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="tns:NumeroDocumento" />
          <s:element minOccurs="1" maxOccurs="1" name="Error_Cod" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Error_Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NumeroDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDNI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigitoVerificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoCasada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUbigeoDepartamentoDomicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUbigeoProvinciaDomicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUbigeoDistritoDomicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartamentoDomicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinciaDomicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistritoDomicilio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoCivil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoGradoInstruccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoSustentatorioTipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoSustentatorioNumero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUbigeoDepartamentoNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUbigeoProvinciaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUbigeoDistritoNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartamentoNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinciaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistritoNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombrePadre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreMadre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaInscripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaExpedicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConstanciaVotacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Restriccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RestriccionMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrefijoDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BlockChalet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Interior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Etapa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manzana" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrefijoBlockChalet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrefijoDepartamentoInterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrefijoUrbanizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoByte" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FirmaByte" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="RestriccionRegistroPenitenciario" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RestriccionAntecedentesJudiciales" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RestriccionTratamientoPenitenciario" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RestriccionMedioLibre" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Solicitud_LeerApellidosyNombres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:LeerCola" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Solicitud_LeerApellidosyNombresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitud_LeerApellidosyNombresResult" type="tns:DTO_ResultOfApellidosyNombres" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTO_ResultOfApellidosyNombres">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="tns:ApellidosyNombres" />
          <s:element minOccurs="1" maxOccurs="1" name="Error_Cod" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Error_Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApellidosyNombres">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoErrorMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroTotalCoincidencias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reservado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Coincidencia" type="tns:ArrayOfApellidosyNombresCoincidencia" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoErrorClase" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApellidosyNombresCoincidencia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApellidosyNombresCoincidencia" nillable="true" type="tns:ApellidosyNombresCoincidencia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApellidosyNombresCoincidencia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDNI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CaracterVerificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoFichaRegistral" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreNombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Imagen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reservado" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="FechaLongSoapIn">
    <wsdl:part name="parameters" element="tns:FechaLong" />
  </wsdl:message>
  <wsdl:message name="FechaLongSoapOut">
    <wsdl:part name="parameters" element="tns:FechaLongResponse" />
  </wsdl:message>
  <wsdl:message name="SolicitudSoapIn">
    <wsdl:part name="parameters" element="tns:Solicitud" />
  </wsdl:message>
  <wsdl:message name="SolicitudSoapOut">
    <wsdl:part name="parameters" element="tns:SolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="Solicitud_LeerDNISoapIn">
    <wsdl:part name="parameters" element="tns:Solicitud_LeerDNI" />
  </wsdl:message>
  <wsdl:message name="Solicitud_LeerDNISoapOut">
    <wsdl:part name="parameters" element="tns:Solicitud_LeerDNIResponse" />
  </wsdl:message>
  <wsdl:message name="Solicitud_LeerApellidosyNombresSoapIn">
    <wsdl:part name="parameters" element="tns:Solicitud_LeerApellidosyNombres" />
  </wsdl:message>
  <wsdl:message name="Solicitud_LeerApellidosyNombresSoapOut">
    <wsdl:part name="parameters" element="tns:Solicitud_LeerApellidosyNombresResponse" />
  </wsdl:message>
  <wsdl:portType name="IdentificacionSoap">
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn" />
      <wsdl:output message="tns:VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechaLong">
      <wsdl:input message="tns:FechaLongSoapIn" />
      <wsdl:output message="tns:FechaLongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitud">
      <wsdl:input message="tns:SolicitudSoapIn" />
      <wsdl:output message="tns:SolicitudSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitud_LeerDNI">
      <wsdl:input message="tns:Solicitud_LeerDNISoapIn" />
      <wsdl:output message="tns:Solicitud_LeerDNISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Solicitud_LeerApellidosyNombres">
      <wsdl:input message="tns:Solicitud_LeerApellidosyNombresSoapIn" />
      <wsdl:output message="tns:Solicitud_LeerApellidosyNombresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IdentificacionSoap" type="tns:IdentificacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaLong">
      <soap:operation soapAction="http://tempuri.org/FechaLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitud">
      <soap:operation soapAction="http://tempuri.org/Solicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitud_LeerDNI">
      <soap:operation soapAction="http://tempuri.org/Solicitud_LeerDNI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitud_LeerApellidosyNombres">
      <soap:operation soapAction="http://tempuri.org/Solicitud_LeerApellidosyNombres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IdentificacionSoap12" type="tns:IdentificacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaLong">
      <soap12:operation soapAction="http://tempuri.org/FechaLong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitud">
      <soap12:operation soapAction="http://tempuri.org/Solicitud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitud_LeerDNI">
      <soap12:operation soapAction="http://tempuri.org/Solicitud_LeerDNI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Solicitud_LeerApellidosyNombres">
      <soap12:operation soapAction="http://tempuri.org/Solicitud_LeerApellidosyNombres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Identificacion">
    <wsdl:port name="IdentificacionSoap" binding="tns:IdentificacionSoap">
      <soap:address location="http://ws.inpe.gob.pe/Reniec/ConsultaMQ/identificacion.asmx" />
    </wsdl:port>
    <wsdl:port name="IdentificacionSoap12" binding="tns:IdentificacionSoap12">
      <soap12:address location="http://ws.inpe.gob.pe/Reniec/ConsultaMQ/identificacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>