APPWebService/Web References/ws_pope_sede_usuario/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cantidad">
        <s:complexType />
      </s:element>
      <s:element name="CantidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lista">
        <s:complexType />
      </s:element>
      <s:element name="ListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarxLicencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LicenciaID" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarxLicenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarxLicenciaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarxLicenciav2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDLicencia" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarxLicenciav2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarxLicenciav2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmarContrasena" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiarClaveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClaveCifrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClaveCifradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiarClaveCifradoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UsuarioID_SIPGA" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TrabajadorID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioLogin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ContrasenaByte" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PreNombres" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DependenciaID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Cargo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AdminValidarPC" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Audit_UsuarioLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadSoapIn">
    <wsdl:part name="parameters" element="tns:Cantidad" />
  </wsdl:message>
  <wsdl:message name="CantidadSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadResponse" />
  </wsdl:message>
  <wsdl:message name="ListaSoapIn">
    <wsdl:part name="parameters" element="tns:Lista" />
  </wsdl:message>
  <wsdl:message name="ListaSoapOut">
    <wsdl:part name="parameters" element="tns:ListaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarxLicenciaSoapIn">
    <wsdl:part name="parameters" element="tns:ListarxLicencia" />
  </wsdl:message>
  <wsdl:message name="ListarxLicenciaSoapOut">
    <wsdl:part name="parameters" element="tns:ListarxLicenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarxLicenciav2SoapIn">
    <wsdl:part name="parameters" element="tns:ListarxLicenciav2" />
  </wsdl:message>
  <wsdl:message name="ListarxLicenciav2SoapOut">
    <wsdl:part name="parameters" element="tns:ListarxLicenciav2Response" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveCifradoSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarClaveCifrado" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveCifradoSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarClaveCifradoResponse" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuarioSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cantidad">
      <wsdl:input message="tns:CantidadSoapIn" />
      <wsdl:output message="tns:CantidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <wsdl:input message="tns:ListaSoapIn" />
      <wsdl:output message="tns:ListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarxLicencia">
      <wsdl:input message="tns:ListarxLicenciaSoapIn" />
      <wsdl:output message="tns:ListarxLicenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarxLicenciav2">
      <wsdl:input message="tns:ListarxLicenciav2SoapIn" />
      <wsdl:output message="tns:ListarxLicenciav2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:input message="tns:CambiarClaveSoapIn" />
      <wsdl:output message="tns:CambiarClaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClaveCifrado">
      <wsdl:input message="tns:CambiarClaveCifradoSoapIn" />
      <wsdl:output message="tns:CambiarClaveCifradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input message="tns:CrearUsuarioSoapIn" />
      <wsdl:output message="tns:CrearUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuarioSoap" type="tns:UsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cantidad">
      <soap:operation soapAction="http://tempuri.org/Cantidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <soap:operation soapAction="http://tempuri.org/Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarxLicencia">
      <soap:operation soapAction="http://tempuri.org/ListarxLicencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarxLicenciav2">
      <soap:operation soapAction="http://tempuri.org/ListarxLicenciav2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap:operation soapAction="http://tempuri.org/CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClaveCifrado">
      <soap:operation soapAction="http://tempuri.org/CambiarClaveCifrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuarioSoap12" type="tns:UsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cantidad">
      <soap12:operation soapAction="http://tempuri.org/Cantidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lista">
      <soap12:operation soapAction="http://tempuri.org/Lista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarxLicencia">
      <soap12:operation soapAction="http://tempuri.org/ListarxLicencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarxLicenciav2">
      <soap12:operation soapAction="http://tempuri.org/ListarxLicenciav2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap12:operation soapAction="http://tempuri.org/CambiarClave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClaveCifrado">
      <soap12:operation soapAction="http://tempuri.org/CambiarClaveCifrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap12:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="UsuarioSoap" binding="tns:UsuarioSoap">
      <soap:address location="http://wsdev.inpe.gob.pe/Pope/sede/Usuario.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuarioSoap12" binding="tns:UsuarioSoap12">
      <soap12:address location="http://wsdev.inpe.gob.pe/Pope/sede/Usuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>