APPWebService/Web References/ws_sipga_sede_trabajador/Trabajador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Version">
        <s:complexType />
      </s:element>
      <s:element name="VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fecha">
        <s:complexType />
      </s:element>
      <s:element name="FechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FechaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Listar_v2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listar_v2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Listar_v2Result" type="tns:Trabajador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Trabajador">
        <s:complexContent mixed="false">
          <s:extension base="tns:Persona">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IDTrabajador" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NacimientoUbigeoID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="InstitucionID" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="InstitucionNombre" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UnidadEjecutoraID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UnidadEjecutora" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OficinaID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Oficina" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodigoSIP" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OcupacionID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Ocupacion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CondicionGeneralID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CondicionGeneralNombre" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CondicionID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CondicionNombre" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CargoID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CargoNombre" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CargoEstructuralID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CargoEstructuralNombre" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaNacimientoDia" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaNacimientoMes" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaNacimientoAnio" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="_ErrorCodigo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="_ErrorMensaje" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SexoBolean" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Extranjero" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NacionalidadID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NacionalidadNombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoDocumentoID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumentoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NacimientoPaisID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NacimientoPaisNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NacimientoDepartamentoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NacimientoProvinciaNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NacimientoDistritoNombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SexoID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFallecimiento" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="EstadoCivilID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoCivilNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomicilioPaisNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomicilioDepartamentoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomicilioProvinciaNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomicilioDistritoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomicilioDireccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorreoPersonal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CorreoInstitucional" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="FechaSoapIn">
    <wsdl:part name="parameters" element="tns:Fecha" />
  </wsdl:message>
  <wsdl:message name="FechaSoapOut">
    <wsdl:part name="parameters" element="tns:FechaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="Listar_v2SoapIn">
    <wsdl:part name="parameters" element="tns:Listar_v2" />
  </wsdl:message>
  <wsdl:message name="Listar_v2SoapOut">
    <wsdl:part name="parameters" element="tns:Listar_v2Response" />
  </wsdl:message>
  <wsdl:portType name="TrabajadorSoap">
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn" />
      <wsdl:output message="tns:VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fecha">
      <wsdl:input message="tns:FechaSoapIn" />
      <wsdl:output message="tns:FechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listar_v2">
      <wsdl:input message="tns:Listar_v2SoapIn" />
      <wsdl:output message="tns:Listar_v2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrabajadorSoap" type="tns:TrabajadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fecha">
      <soap:operation soapAction="http://tempuri.org/Fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_v2">
      <soap:operation soapAction="http://tempuri.org/Listar_v2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrabajadorSoap12" type="tns:TrabajadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fecha">
      <soap12:operation soapAction="http://tempuri.org/Fecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_v2">
      <soap12:operation soapAction="http://tempuri.org/Listar_v2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Trabajador">
    <wsdl:port name="TrabajadorSoap" binding="tns:TrabajadorSoap">
      <soap:address location="http://ws.inpe.gob.pe/sipga/sede/Trabajador.asmx" />
    </wsdl:port>
    <wsdl:port name="TrabajadorSoap12" binding="tns:TrabajadorSoap12">
      <soap12:address location="http://ws.inpe.gob.pe/sipga/sede/Trabajador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>