APPWebService/Web References/ws_migraciones_consulta/Migraciones0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSMigraciones.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSMigraciones.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultEOfMigracionesE44rCQrf7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WSMigraciones.Entity" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MigracionesE" Namespace="http://schemas.datacontract.org/2004/07/WSMigraciones.Entity" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Error_Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_cod" type="xs:int" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="tns:MigracionesE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEOfMigracionesE44rCQrf7" nillable="true" type="tns:ResultEOfMigracionesE44rCQrf7" />
  <xs:complexType name="MigracionesE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalidadMigratorias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DomicilioActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Nacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_CPP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_PTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisNacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbicacionActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MigracionesE" nillable="true" type="tns:MigracionesE" />
</xs:schema>