APPWebService/Web References/ws_sipga_sede_usuario/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Version">
        <s:complexType />
      </s:element>
      <s:element name="VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionVisita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionVisitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IniciarSesionVisitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveActual" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NuevaClave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Audit_UsuarioLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiarClaveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PreNombres" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Audit_UsuarioLogin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Modulo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuariov2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Audit_UsuarioLogin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Modulo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuariov2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearUsuariov2Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarUsuarioResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionVisitaSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesionVisita" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionVisitaSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionVisitaResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CrearUsuariov2SoapIn">
    <wsdl:part name="parameters" element="tns:CrearUsuariov2" />
  </wsdl:message>
  <wsdl:message name="CrearUsuariov2SoapOut">
    <wsdl:part name="parameters" element="tns:CrearUsuariov2Response" />
  </wsdl:message>
  <wsdl:message name="ListarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuarioSoap">
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn" />
      <wsdl:output message="tns:VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesionVisita">
      <wsdl:input message="tns:IniciarSesionVisitaSoapIn" />
      <wsdl:output message="tns:IniciarSesionVisitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:input message="tns:CambiarClaveSoapIn" />
      <wsdl:output message="tns:CambiarClaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input message="tns:CrearUsuarioSoapIn" />
      <wsdl:output message="tns:CrearUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuariov2">
      <wsdl:input message="tns:CrearUsuariov2SoapIn" />
      <wsdl:output message="tns:CrearUsuariov2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <wsdl:input message="tns:ListarUsuarioSoapIn" />
      <wsdl:output message="tns:ListarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuarioSoap" type="tns:UsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesionVisita">
      <soap:operation soapAction="http://tempuri.org/IniciarSesionVisita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap:operation soapAction="http://tempuri.org/CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuariov2">
      <soap:operation soapAction="http://tempuri.org/CrearUsuariov2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuarioSoap12" type="tns:UsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesionVisita">
      <soap12:operation soapAction="http://tempuri.org/IniciarSesionVisita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap12:operation soapAction="http://tempuri.org/CambiarClave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap12:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuariov2">
      <soap12:operation soapAction="http://tempuri.org/CrearUsuariov2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="UsuarioSoap" binding="tns:UsuarioSoap">
      <soap:address location="http://ws.inpe.gob.pe/SIPGA/sede/Usuario.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuarioSoap12" binding="tns:UsuarioSoap12">
      <soap12:address location="http://ws.inpe.gob.pe/SIPGA/sede/Usuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>